{% load i18n %}
<html>
  <head>
    <title>{%trans "An exemplary OAuth Google app"%}</title>
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/style.css" media="screen" />
  </head>
  <body>
      <h1>{%trans "Hi"%} {{user.username}}! {%trans "Here are your Google analytics accounts"%} </h1>
      <table>
        <thead>
            <tr>
                <th scope="col">{%trans "Name"%}</th>
                <th scope="col">{%trans "Kind"%}</th>
                <th scope="col">{%trans "Created"%}</th>
                <th scope="col">{%trans "Updated"%}</th>
            </tr>
        </thead>
        {% for item in items %}
        <tr>
            <td><a href="{{item.selfLink}}" target="_blank">{{item.name}}</td>
            <td>{{item.kind}}</td>
            <td>{{item.created}}</td>
            <td>{{item.updated}}</td>
        </tr>
        {%endfor%}
    </table>
    <br/><br/><a href="{%url logout%}">LOG OUT</a>
  </body>
</html>